<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><!-- Country code --> - OSM Notes Duplicates</title>
    <link rel="stylesheet" href="/osm-notes-dupl/style.css" />
  </head>
  <body>
    <h1 class="title"><!-- Country code --></h1>

    <blockquote>
      <p>
        <span class="commented">green</span> - commented<br />
        <span class="stop_word">orange</span> - stop word found (eg duplicate)
      </p>
    </blockquote>

    <table>
      <colgroup>
        <col style="width: 50%" />
        <col style="width: 50%" />
      </colgroup>
      <thead>
        <tr>
          <th>Closed</th>
          <th>Opened</th>
        </tr>
      </thead>
      <tbody>
<!-- Notes table -->
      </tbody>
    </table>
  </body>
</html>
