<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSM Notes Duplicates</title>
    <link rel="stylesheet" href="/osm-notes-dupl/style.css" />
  </head>
  <body>
<h1 class="title">OSM Notes Duplicates</h1>

<blockquote>
<p>A list of potential duplicate OpenStreetMap notes. Each entry
contains both open and closed notes created at the same coordinates.</p>
</blockquote>

  <p><!-- Countries list --></p>

<blockquote>
<p>Countries boundaries from 
  <a href="https://osm-countries-geojson.monicz.dev">osm-countries-geojson</a>. Data <a href="https://www.openstreetmap.org">©OpenStreetMap</a> contributors.</p>
</blockquote>
  </body>
</html>
